@import url('https://fonts.googleapis.com/css?family=Dosis|Montserrat|Ubuntu');
.footer{
  padding-top: 40px;
  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
  /*align-items: flex-end;*/
  font-family: 'Dosis', sans-serif;
  height:80px;
  color: #35C0EF;
}
